@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600;700&display=swap');
* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    /* -webkit-box-sizing: border-box;
            box-sizing: border-box; */
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize; /* chữ hoa những chữ cái đầu từng từ */
    transition: all 0.2s linear;
  }

html{
      /* HACK 1rem = 10px*/
      font-size: 62.5%;
      overflow-x: hidden;
      scroll-behavior: smooth;
      /* scroll-padding-top: 5rem; */
}

/* thanh scrollbar */
html::-webkit-scrollbar {
    width: 1rem;
}
  
html::-webkit-scrollbar-track {
    background: ;
}

html::-webkit-scrollbar-thumb {
    background: #f00;
}

:root{
    --red-color: #f00;
    --black-color: #000;
    --white-color: #fff;
    --light-white-color: #aaa;
    --light-bg-color: #111;
}

body {
    background-color: var(--black-color);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 9%;
    z-index: 1000;
    background-color: var(--black-color);
}

.header .logo{
    font-weight: bolder;
    font-size: 3rem;
    color: var(--white-color);
}

.header span{
    color: var(--red-color);
}

.navbar a{
    display: inline-block;
    font-size: 1.7rem;
    padding: 15px 20px;
    color: var(--white-color);
}

.navbar a:hover{
    background-color: var(--red-color);
}

.menu-btn{
    font-size: 3rem;
    color: var(--white-color);
    cursor: pointer;
    display: none;
}

section{
    padding: 50px 9%;
}

.home{
    padding: 0;
    margin-top: 48px;
}

.slide{
    /* min-height: 70vh; */
    background-size: cover !important;
    background-position: center !important;
    /* padding: 20px 9%; */
    display: flex;
    align-items: center;
}
.slide_img{
    width: 100%;
    height: 70%;
    
}

.content_position{
    position: absolute;
    padding: 20px 9%;
    box-sizing: content-box;
}

.content{
    width: 600px;
}

.content span{
    font-size: 3rem;
    color: red;
    display: block;
}

.content h3{
    font-size: 5rem;
    color: white;
    padding: 10px 0;
}

.content p{
    font-size: 1.5rem;
    color: var(--light-white-color);
    padding: 10px 0;
    line-height: 2;
}

.btn{
    margin-top: 10px;
    display: inline-block;
    padding: 10px 28px;
    padding-right: 30px;
    color: white;
    cursor: pointer;
    background: linear-gradient(130deg, #f00 93%, transparent 90%);
    font-size: 1.7rem;
}

.btn:hover{
    transform: scale(1.2);
}

.about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8rem;
}

.about .image{
    flex: 1 1 420px;
    position: relative;
}

.about .image::after,
.about .image::before{
    content: '';
    position: absolute;
    z-index: -1;
    background-color: var(--red-color);
    height: 150px;
    width: 150px;
}

.about .image::before{
    top: 0;
    left: 0;
}

.about .image::after{
    bottom: 3px;
    right: 0px;
}

.about .image img{
    width: 100%;
    padding: 20px;
}

.about .content{
    flex: 1 1 420px;
}

.about .content span{
    font-size: 3rem;
    color: var(--red-color);
}

.about .content .title{
    font-size: 4rem;
    color: var(--white-color);
    margin-top: 5px;
}

.about .content .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 10px;
}

.box-container .box{
    flex: 1 1 200px;
}

.box-container h3{
    font-size: 2rem;
}

.box-container i{
    padding-right: 15px;
    color: var(--red-color);
}

.heading{
    text-align: center;
    margin-bottom: 38px;
    position: relative;
}

.heading::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    height: 2px;
    background-color: var(--light-white-color);
    transform: translateY(-50%);
    width: 100%;
    z-index: -1;
}

.heading span{
    font-size: 3rem;
    color: var(--red-color);
    padding: 5px 15px;
    background-color: black;
    border: 1px solid var(--light-white-color);
    border-radius: 5px;
}

.box-container .image_main{
    width: 100%;
}

.image_main:hover{
    transform: scale(1.1);
}

.image_border{
    background-color: #111111;
    overflow: hidden;
}

.content_bgc{
    background-color: #111111;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.img_logo{
    height: 90px;
    margin-bottom: 10px;
    filter: invert(1);
}

.content_bgc h3{
    color: var(--red-color);
}

.price{

}

.price_wrap{

}

.price_header{
    font-size: 2rem;
    color: var(--red-color);
}

.price_subheader{
    font-size: 4rem;
    padding-top: 10px;
    color: var(--white-color);
    line-height: 1.4;
}

.price_des{
    line-height: 2;
    padding: 1rem 0;
    font-size: 1.4rem;
    color: #aaa;
}

.price_icon{
    padding-right: 15px;
    color: var(--red-color);
}

.price_heading{
    font-size: 2.5rem;
    /* margin: 1rem 0; */
    color: #fff;
    display: block;
    margin: 25px;
    font-weight: 600;
}

.price_number{
    color: #fff;
    font-size: 2rem;
    margin: 20px;
    font-weight: 600;
}

.price_number-main{
    font-size: 5rem;
    font-weight: bolder;
    color: #f00;
    margin-right: -6px;
    margin-left: -3px;
}

.wrap{
    padding-right: 17px;
}

.col_wrap{
    text-align: center;
    padding: 20px;
    background: linear-gradient(130deg, #111 93%, transparent 90%);
}

.wrap_second{
    text-align: center;
    padding: 20px;
}

.trainer{

}

.trainer_wrap{

}

.trainer_image{
    position: relative;
    overflow: hidden;
}

.trainer_image-detail{
    width: 100%;
}

.trainer_infor{
    background-color: #111111;
    padding: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    transform: translateY(45%);
}

.trainer_image:hover .trainer_infor{
    transform: translateY(0);
}

.trainer_infor span{
    font-size: 1.5rem;
    color: var(--red-color);
}

.trainer_infor h3{
    font-size: 2rem;
    color: var(--white-color);
    padding-top: 10px;
    font-weight: 500;
}

.trainer_infor-socials{
    padding-top: 20px;
    margin-top: 15px;
    border-top: 1px solid #aaa;
}

.trainer_infor-socials i{
    font-size: 2rem;
    color: var(--white-color);
    margin-right: 15px;
}

.trainer_infor-socials i:hover{
    color: var(--red-color);
    transform: rotate(360deg);
}

.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/banner-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
}
  
.banner span {
    font-size: 2rem;
    color: #f00;
}
  
.banner h3 {
    padding-top: 1rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 3.5rem;
}
  
.banner p {
    margin: 1rem auto;
    max-width: 60rem;
    font-size: 1.5rem;
    color: #aaa;
    line-height: 2;
}
  