/* Pc */
@media (min-width: 1024px){
    .hide-on-pc{
        display: none;
    }
}

/* Mobile & Tablet */
@media (max-width: 1023px){
    .hide-on-mobile-tablet{
        display: none;
    }
    html{
        font-size: 55%;
    }
    .header{
        padding: 0 20px;
    }
    section{
        padding: 20px 30px;
    }
    .home .content{
        width: 400px;
    }
    .about .content .title{
        font-size: 3.3rem;
    }
    .content p{
        padding: 0;
        line-height: 1.6;
        /* display: none; */
    }
    .about_wrap .btn{
        /* display: none; */
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px){
    .hide-on-tablet{
        display: none;
    }
    .header{
        padding: 0 20px;
    }
    .home .content h3{
        font-size: 4rem;
    }
    .about .content span{
        font-size: 2.5rem;
    }
    .box-container .box{
        flex: 0 1 200px;
    }
    .img_logo{
        height: 50px;
        margin-bottom: 0;
    }
}

/* Mobile */
@media (max-width: 739px){
    .hide-on-mobile{
        display: none;
    }
    .menu-btn{
        display: block;
    }
    .fa-times{
        transform: rotate(180deg);
    }
    .header{
        padding: 20px;
    }
    .navbar{
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background-color: var(--black-color);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .navbar a{
        display: block;
        font-size: 2rem;
    }
    .active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .home .content{
        width: 300px;
    }
    .home .content h3{
        font-size: 2.6rem;
    }
    .content span{
        font-size: 2rem;
    }
    .btn {
        padding: 6px 7px;
        padding-right: 14px;
        font-size: 1.4rem;
    }
}